default: &DEFAULT
% if ENV['USER'] =~ /hpcguest/
  adapter: sqlite3
  database: "storage/parameters.sqlite3"
  #username: myapp
  #password: password1
  pool: 1
  timeout: 1000
  #host: localhost
% else
  adapter: postgresql
  database: storage_parameter
  username: myapp
  password: password1
  pool: 50
  timeout: 1000
  host: localhost
% end

test:
  <<: *DEFAULT
  adapter: sqlite3
  database: '/tmp/test.sqlite3'
