default: &DEFAULT
  adapter: sqlite3
  database: "storage/parameters.sqlite3"
  #username: myapp
  #password: password1
  pool: 1
  timeout: 1000
  #host: localhost

test:
  <<: *DEFAULT
  adapter: sqlite3
  database: '/tmp/test.sqlite3'
